.video-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 400px;
    background-color: #fff;

    /* Background Pattern */
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 0.4px, rgba(229, 229, 247, 0.3) 0, rgba(229, 229, 247, 0.3) 50%);
}

.no-text-decoration {
    text-decoration: none !important;
}
.no-text-decoration:hover {
    text-decoration: none !important;
}

.no-text-decoration:active {
    text-decoration: none !important;
}

.video-card h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
}

.video-card p {
    font-size: 1em;
    margin-bottom: 16px;
    color: #777;
    font-weight: bolder;
}

.video-card img {
    max-width: 100%;
    border-radius: 8px;
}

.youtube-preview {
    min-height: 50vh;
}

.youtube-preview a {
    text-decoration: none;
  }
  
  .youtube-preview a:hover {
    text-decoration: none;
  }
  
  .youtube-preview .MuiCardActionArea-root:hover .MuiTypography-root {
    text-decoration: none;
  }
  